/* CÓDIGO FEITO POR WILLIANE OLIVEIRA */
/* Desktop - Responsividade */

:root{
    --tyrian-purple: rgb(79, 11, 40);
--davys-gray: rgba(91, 89, 101, 0.466);
--night: #110D12ff;
--tyrian-purple-2: #3A021Bff;
--rose-red: #C11952ff;
--raspberry-rose: rgba(171, 44, 103, 0.377);
--english-violet: #4B3348ff;
--tyrian-purple-3: #5B0B2Eff;

}

@font-face {
    font-family: 'Arcane';
    src: url(../fontes/ArcaneNine.otf);
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url(../fontes/OpenSans-Italic.ttf);
}

@font-face {
    font-family: 'OpenSans';
    src: url(../fontes/OpenSans.ttf);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(var(--night), var(--tyrian-purple-2), var(--tyrian-purple-3));
    
}

/* DIV CENTRAL */
.card{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 300px;
    position: relative;
    /* background: var(--raspberry-rose); */
    background-color: #ffffff63;
    border-radius: 20px;
    box-shadow: 0px, 35px, 80px rgba(0, 0, 0, 0 0.15); 
    transition: 0.5s;
    filter: drop-shadow(3px 3px 3px white); 

}

/* FONTE NOME */
h1 {
    
    font-family: 'Arcane';
    font-size: 30px;
    color: var(--tyrian-purple);
    
}

/* FONTE DESENVOLVEDORA EXPERIÊNCIA PROFISSIONAL*/
h2 {
    font-family: 'OpenSans';
    text-transform: uppercase;
    font-size: large; 
}

/* FONTE PARA VISUALIZAR */
h3{
    font-family: "OpenSans";
    font-size: 12px;
    color: var(--tyrian-purple);

}

/* FONTE TODAS AS EXPERIÊNCIAS */
h4{
    font-style: oblique;
    /* font-family: "OpenSans-Italic"; */
}

/* FONTE REDES SOCIAIS */
h5{
    font-family: "OpenSans";
}

/* FONTE INSTA E WHATS */
p {
    font-style: oblique;
    color: black; 
    
}

/* LINHA */
hr {
    width: 100%;
    background: var(--night);
    height: 3px;  
    
}

/* ZERANDO AS MARGENS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TAMANHO DA IMAGEM INSTA */
#insta{
    width: 20px;
}

/* TAMANHO DA IMAGEM WHATS */
#whats{
    width: 20px;
}


/* AUMENTAR A ALTURA DA DIV CENTRAL */
.card:hover{
    height: 500px;
    cursor: pointer;
}

/* DIMINUIR O TAMANHO DO CARD */
.card .img-box{
    position: absolute;
    width: 150px;
    height: auto;
    top: 0px;
}

/* PARA SUBIR A IMAGEM E DIMINUIR TAMBEM */
.card:hover .img-box{
    top: -50px;
    scale: 0.75;      
    transition: 0.5s;  
}

/* DIMINUIR O TAMANHO DA IMAGEM*/
.card .img-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* ARRUMANDO A DIV DE TEXTO */
.card .content{
    display: flex;
    flex-direction: column;
    gap: 18px;
    position: absolute;
    top: 150px;
    width: 100%;
    padding: 0px 30px;
    text-align: center;
    height: 30px;
    overflow: hidden;
}

/* PARA O TEXTO APARECER */
.card:hover .content{
    top: 130px;
    height: 450px;
    transition: 0.5s;
}

.card:hover h3{
    transition: 0.5s;
    font-size: 0px;
}

.instaGeral{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.instaGeral div{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tablet - Responsividade */

@media (max-width:1024px) and (min-width:720px){
    body{
        background: var(--reseda-green);
    }
    
    .central{
        width: 50%;
    }
    h3{
    color: var(--ash-gray);
    
    }
}

/* Mobile - Responsividade */
@media (max-width:720px){
    body{
        background: var(--creme);
    }
    
    .central{
        width: 70%;
        background: var(--cambridge-blue);
    }

    h1 {
        color: var(--reseda-green);
        /* font-family: ''; */
        font-size: 30px;
        
    }
}
