/* Desktop - Responsividade */

:root {
    --black-olive: rgba(53, 63, 52, 0.637);
    --ash-gray: #D0D9CDff;
    --cambridge-blue: rgba(160, 191, 159, 0.452);
    --tea-green: #C1D9C1ff;
    --ash-gray-2: #C9D7C7ff;
    --reseda-green: #667467ff;
    --creme: #d0b79b7a;
    --black: #000000;

}

@font-face {
    font-family: 'Caligrafia';
    
    src: url(/fontes/BirdsOfParadiseCaligrafia.ttf);
}

@font-face {
    font-family: 'Escrita';
    
    src: url(/fontes/HoneySalEscrita.otf);
}


body {
    background: radial-gradient(var(--ash-gray), var(--tea-green));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.central {
    /* filter: drop-shadow(10px 10px 10px var(--black)); */
    
    width: 40%;
    background: var(--black-olive);
    border-radius: 20px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    /* letter-spacing: 0.5px; */
    line-height: 0.5px;
    
}

img {
    border-radius: 50%;
    width: 200px;
    border: 5px solid var((--eerie-black));
}

/* FONTE NOME */
h1 {
    color: var(--ash-gray);
    font-family: 'Caligrafia';
    font-size: 40px;
    
}

/* FONTE DESENVOLVEDORA*/
h2 {
    font-family: 'Escrita';
    text-transform: uppercase;
    font-size: large;
    color: black;
    padding: 10px;
}


hr {
    width: 70%;
    background: var(--ebony);
    height: 2px;  
}


/* FONTE DAS EXPERIÊNCIAS */
p {
    font-style: oblique;
    color: black;    
}






.instaGeral{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.instaGeral div{
    display: flex;
    justify-content: center;
    align-items: center;
}


#insta{
    width: 20px;
}

#whats{
    width: 20px;
}

/* Tablet - Responsividade */

@media (max-width:1024px) and (min-width:720px){
    body{
        background: var(--reseda-green);
    }
    
    .central{
        width: 50%;
    }
    h3{
    color: var(--ash-gray);
    
    }
}

/* Mobile - Responsividade */
@media (max-width:720px){
    body{
        background: var(--creme);
    }
    
    .central{
        width: 70%;
        background: var(--cambridge-blue);
    }

    h1 {
        color: var(--reseda-green);
        font-family: 'Caligrafia';
        font-size: 40px;
        
    }
    
}


